.button{
    width: 171px;
    height: 50px;
}

.bodyPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background: rgb(44, 223, 139);
}

.menuButt{
    display: flex;
    justify-content: center;
}